    <!-- <div id="myCarousel" class="carousel slide"> 
       Indicators 
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            hello
              <img src="../../dist/imgs/csr.png"/>
            </div>
          </div>
        <div class="item">
          <div class="container">
          <img alt="Second slide">
          <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
           <div class="container">
          <img alt="Third slide">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
 <a class="left carousel-control" href="" ng-click="carouselPrev()"><img src="../../dist/imgs/lcontrol.jpg" style="position:absolute;top:154px;"/></a>
      <a class="right carousel-control" href="" ng-click="carouselNext()"><img src="../../dist/imgs/rcontrol.jpg" style="position:absolute;top:154px;left:60px;"/></span></a>
</div>   -->
<h1>{{home.message}}</h1>
<button type="button" ng-click="getStarted()">Get Started</button>